In [1]:
# Load libraries
import numpy as np
import pandas as pd
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [2]:
# Importing the Dataset
df=pd.read_csv("PlayTennis.csv")
value=['Outlook','Temprature','Humidity','Wind']
df

    Day   Outlook Temprature Humidity   Wind Play_Tennis
0    D1     sunny        hot     high  False          no
1    D2     sunny        hot     high   True          no
2    D3  overcast        hot     high  False         yes
3    D4     rainy       mild     high  False         yes
4    D5     rainy       cool   normal  False         yes
5    D6     rainy       cool   normal   True          no
6    D7  overcast       cool   normal   True         yes
7    D8     sunny       mild     high  False          no
8    D9     sunny       cool   normal  False         yes
9   D10     rainy       mild   normal  False         yes
10  D11     sunny       mild   normal   True         yes
11  D12  overcast       mild     high   True         yes
12  D13  overcast        hot   normal  False         yes
13  D14     rainy       mild     high   True          no

In [3]:
# Data Analysis

len(df)           #Dataset Length

14

In [4]:
df.shape  #To see the number of rows and columns in our dataset

(14, 6)

In [5]:
df.head()         #To inspect the first five records of the dataset

  Day   Outlook Temprature Humidity   Wind Play_Tennis
0  D1     sunny        hot     high  False          no
1  D2     sunny        hot     high   True          no
2  D3  overcast        hot     high  False         yes
3  D4     rainy       mild     high  False         yes
4  D5     rainy       cool   normal  False         yes

In [6]:
df.tail()         #To inspect the last five records of the dataset

    Day   Outlook Temprature Humidity   Wind Play_Tennis
9   D10     rainy       mild   normal  False         yes
10  D11     sunny       mild   normal   True         yes
11  D12  overcast       mild     high   True         yes
12  D13  overcast        hot   normal  False         yes
13  D14     rainy       mild     high   True          no

In [7]:
df.describe()     #To see statistical details of the dataset

       Day Outlook Temprature Humidity   Wind Play_Tennis
count   14      14         14       14     14          14
unique  14       3          3        2      2           2
top     D1   sunny       mild     high  False         yes
freq     1       5          6        7      8           9

In [8]:
# Preparing the Data (Data Slicing)
#machine learning algorithms can only learn from numbers (int, float, doubles .. )
#so let us encode it to int
from sklearn import preprocessing
string_to_int= preprocessing.LabelEncoder()                     #encode your data
df=df.apply(string_to_int.fit_transform) #fit and transform it
df

    Day  Outlook  Temprature  Humidity  Wind  Play_Tennis
0     0        2           1         0     0            0
1     6        2           1         0     1            0
2     7        0           1         0     0            1
3     8        1           2         0     0            1
4     9        1           0         1     0            1
5    10        1           0         1     1            0
6    11        0           0         1     1            1
7    12        2           2         0     0            0
8    13        2           0         1     0            1
9     1        1           2         1     0            1
10    2        2           2         1     1            1
11    3        0           2         0     1            1
12    4        0           1         1     0            1
13    5        1           2         0     1            0

In [9]:
#To divide our data into attribute set and Label:
feature_cols = ['Outlook','Temprature','Humidity','Wind']
X = df[feature_cols]                               #contains the attribute 
y = df.Play_Tennis                                  #contains the label

In [10]:
#To divide our data into training and test sets:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [11]:
# perform training 

# import the classifier
from sklearn.tree import DecisionTreeClassifier                            

# create a classifier object
classifier =DecisionTreeClassifier(criterion="entropy", random_state=100)     

# fit the classifier with X and Y data or 
classifier.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=100)

In [12]:
#Predict the response for test dataset
y_pred= classifier.predict(X_test)

In [13]:
# Model Accuracy, how often is the classifier correct?
from sklearn.metrics import accuracy_score
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.4

In [14]:
# Now let's compare some of our predicted values with the actual values and see how accurate we were:

data_p=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})  
data_p

    Actual  Predicted
4        1          1
7        0          1
10       1          0
0        0          1
8        1          1

In [15]:
# Evaluating the Algorithm

from sklearn.metrics import classification_report, confusion_matrix  
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[0 2]
 [1 2]]
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         2
           1       0.50      0.67      0.57         3

    accuracy                           0.40         5
   macro avg       0.25      0.33      0.29         5
weighted avg       0.30      0.40      0.34         5

In [59]:
# Visualizing Decision Trees

from sklearn.tree import export_graphviz
from six import StringIO
# from sklearn.externals.six import StringIO
from IPython.display import Image
import pydotplus

#  if this modeule is not found then go to the terminal and enter the command conda install -c conda-forge pydotplus

dot_data = StringIO().getvalue(self)
export_graphviz(classifier, out_file=dot_data,
filled=True, rounded=True, 
special_characters=True,feature_names=value, class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('PlayTennis.png')
Image(graph.create_png())

AttributeError: 'builtin_function_or_method' object has no attribute 'write'